body, html {
  height: 100%;
  min-width: 320px;
  overflow-x: hidden;
}


/* メニューのスタイルの上書き */

.navbar {
  border-radius: 0;
  padding: 0;
  margin: 0;
}

h3 {
  border-bottom: solid 1px grey;
}


.box {
  background-color: #fdfdfd;
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0;
  height: 100%;
  z-index: 0;
  background-color: rgba(255, 255, 255, 0.7);
}

.box td, .box th {
  font-size: 14px !important;
  vertical-align: middle;
}

.box td {
  background-color: #fff;
}

.box th {
  white-space: nowrap;
  background-color: #eee;
}

/* 背景のスタイル */

#bg-container {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
}
#bg-container .bg {
  position: absolute;
  left: 0;
  top: 0;
}
#bg-container .bg-front {
  z-index: -1;
  opacity: 1;
}
#bg-container .bg-back {
  z-index: -2;
  opacity: 0;
}
#bg-container .bg-css3 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-transition: opacity 2s ease;
  transition: opacity 2s ease;
}
