.basic-font, body, pre, input[type="text"], input[type="password"], textarea {
  font-family: "Open Sans", "Meiryo", "Hiragino Kaku Gothic ProN", sans-serif; }

h1, h2, h3, h4, h5 {
    font: inherit;
}

.p4 {
  padding: 4px; }

.p8, .well, .bordered, table.form tr th, table.form tr td {
  padding: 8px; }

.p10 {
  padding: 10px; }

.p12 {
  padding: 12px; }

.p16 {
  padding: 16px; }

.m2 {
  margin: 2px; }

.m4 {
  margin: 4px; }

.m8 {
  margin: 8px; }

.m10 {
  margin: 10px; }

.m12 {
  margin: 12px; }

.m16 {
  margin: 16px; }

.mp, h1, h2, h3, p, .bordered {
  margin: 12px 0; }

.f8 {
  font-size: 8px; }

.f10 {
  font-size: 10px; }

.f12 {
  font-size: 12px; }

.f14, .thread-header.new:after, input, textarea, select {
  font-size: 14px; }

.f16, body {
  font-size: 16px; }

.f18 {
  font-size: 18px; }

.f20 {
  font-size: 20px; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.float-adjust {
  overflow: hidden; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.center, table.form tr th {
  text-align: center; }

.centered {
  margin-left: auto;
  margin-right: auto; }

body, html {
  height: 100%;
  min-width: 320px;
  overflow-x: hidden; }

html {
  background: #ececec; }

body {
  color: #111; }

article, section, header {
  display: block; }

table tbody {
  width: 100%; }

.box {
  background-color: #fdfdfd;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin-bottom: 10px;
  z-index: 0; }

.box.glass {
  background-color: rgba(255, 255, 255, 0.7); }
  .box.glass * {
    border-color: #999; }

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .btn.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc; }
    .btn.btn-default:hover {
      color: #333;
      text-decoration: none; }
  .btn.btn-primary {
    color: #fff;
    background-color: #3498db;
    border-color: #357ebd; }
    .btn.btn-primary:hover {
      background-color: #3276b1;
      border-color: #285e8e; }
  .btn.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a; }
    .btn.btn-danger:hover {
      color: #fff;
      background-color: #d2322d;
      border-color: #ac2925; }

button.btn[disabled] {
  cursor: not-allowed;
  opacity: 0.65; }

.transparent {
  background-color: transparent; }

h1 {
  font-size: 28px;
  border-bottom: solid #ccc 1px; }

h2 {
  font-size: 24px;
  line-height: 46px;
  border-bottom: solid #ccc 1px; }

h3 {
  font-size: 20px;
  line-height: 40px;
  border-bottom: solid #ccc 1px; }

h1, h2, h3 {
  line-height: 2em; }
  h1 a, h2 a, h3 a {
    text-decoration: none; }
    h1 a:link, h2 a:link, h3 a:link {
      text-decoration: none; }
    h1 a:visited, h2 a:visited, h3 a:visited {
      text-decoration: none; }
    h1 a:hover, h2 a:hover, h3 a:hover {
      text-decoration: none; }

p {
  font-size: 1em;
  line-height: 1.6em; }

.float-left {
  margin-right: 12px; }

pre {
  font-size: 1em;
  margin: 8px 16px 8px;
  line-height: 2em; }

.article-body li {
  margin: 0.5em 16px 0.5em 0;
  line-height: 1.6em; }
.article-body ul, .article-body ol {
  padding-left: 2em; }
.article-body ul li {
  list-style-type: disc; }
.article-body ol li {
  list-style-type: decimal; }
.article-body strong {
  font-weight: bold; }

.ribbon {
  font-weight: 500;
  position: relative;
  background-color: #e74c3c;
  font-size: 24px;
  height: 40px;
  line-height: 40px;
  padding: 8px 32px;
  margin-left: -28px;
  margin-right: 0;
  color: #ecf0f1;
  border: 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }
  .ribbon:before {
    display: block;
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    border-style: solid;
    border-width: 12px;
    border-color: transparent #c0392b transparent transparent;
    top: 44px;
    left: -11px;
    z-index: -1; }
  .ribbon:after {
    display: block;
    position: absolute;
    top: 7px;
    left: 0;
    content: '';
    width: 100%;
    height: 36px;
    border-top: 3px solid #c0392b;
    border-bottom: 3px solid #c0392b;
    z-index: 2; }

.gray {
  color: #ccc; }

.red {
  color: #f00; }

.bg-white {
  background-color: #fff; }

.bg-gray {
  background: #f8f8f8; }

ul {
  list-style: disc;
  margin-left: 20px; }
  ul li {
    margin-bottom: 8px; }

.thread-header.new:after {
  content: 'new';
  color: #f55; }


.row {
  overflow: hidden;
}

@media screen and (max-width: 480px) {
  .col-half {
    float: left;
    width: 300px;
  }
}


.well {
  border: 1px solid #e3e3e3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  background-color: #f5f5f5;
  border-radius: 4px; }

.bordered {
  border: solid 1px #ccc; }

.hidden {
  display: none; }



.thumb {
    display: block;
    width: 200px;
    height: 120px;
    position: relative;
    overflow: hidden;
}

.thumb-preview {
    position: relative;
    opacity: 0;
    background-color: #000;
    width: 100%;
    height: 100%;

    transition: opacity .2s ease-out;

    color: #999;
}

.thumb-preview-icon {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 24px;
    margin: 0 auto;
    top: 50%;
    transform: translate(0, -50%);
}

.thumb:hover .thumb-preview {
    opacity: .4;
}


.thumb img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
}

.slider-item .thumb{
    margin-left: auto;
    margin-right: auto;
}

@-webkit-keyframes rotate_loading {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg); }

  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg); } }

@keyframes rotate_loading {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg); }

  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg); } }


table.form {
  display: block; }
  table.form tr th {
    width: 120px; }
  table.form tr td {
    position: relative; }
  table.form ul.errorlist {
    list-style: none;
    color: #f00;
    padding: 0;
    margin: 0; }
    table.form ul.errorlist * {
      padding: 0;
      margin: 0; }
  table.form input[type="text"], table.form input[type="password"], table.form textarea {
    width: 100%; }
  table.form .loading {
    -webkit-animation-name: rotate_loading;
            animation-name: rotate_loading;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    width: 24px;
    height: 24px;
    border-radius: 26px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-top: 2px solid rgba(0, 0, 0, 0.8);
    margin: 8px; }

ul.form li {
  margin-bottom: 16px; }
  ul.form li label {
    display: block; }
  ul.form li * {
    margin-bottom: 8px; }
    ul.form li *:last-child {
      margin-bottom: 0px; }
ul.form li:last-child {
  margin-bottom: 0px; }
ul.form ul.errorlist {
  list-style: none;
  color: #f00;
  padding: 0;
  margin: 0; }
  ul.form ul.errorlist * {
    padding: 0;
    margin: 0; }
ul.form .loading {
  -webkit-animation-name: rotate_loading;
          animation-name: rotate_loading;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  width: 24px;
  height: 24px;
  border-radius: 26px;
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-top: 2px solid rgba(0, 0, 0, 0.8);
  margin: 8px; }
ul.form input[type="text"], ul.form input[type="password"], ul.form textarea {
  display: block;
  width: 100%;
  -moz-box-sizing: content-box;
       box-sizing: content-box; }

input[type="text"], input[type="password"] {
  padding: 4px;
  color: #333;
  border: solid 1px #ccc;
  border-radius: 3px; }

textarea {
  height: 400px;
  border: 2px solid #dadada;
  padding: 4px;
  color: #333;
  border: solid 1px #ccc;
  border-radius: 3px; }

select {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  border: 1px solid #aaa;
  padding: 4px;
  color: #555; }

select[multiple="multiple"] {
  height: 160px;
  width: 140px; }
  select[multiple="multiple"] option {
    height: 24px;
    line-height: 24px; }

table.table-default {
  border: 1px solid #ccc;
  color: #333;
  border-collapse: collapse;
  border-spacing: 2px;
  border-color: gray; }
  table.table-default tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit; }
    table.table-default tr th, table.table-default tr td {
      vertical-align: middle;
      padding: 12px;
      border: 1px solid #ccc;
      line-height: 1.6em; }
    table.table-default tr th {
      background: #f8f8f8;
      text-align: center; }
    table.table-default tr td {
      text-align: left; }

.inner_link_fixer {
  margin-top: -68px;
  padding-top: 68px; }

#g-nav {
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 48px;
  box-shadow: 0px -10px 13px 13px rgba(0, 0, 0, 0.3);
  z-index: 100; }
  #g-nav * {
    margin: 0;
    padding: 0; }
  #g-nav .link {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 48px;
    line-height: 48px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    -webkit-transition: background-color 0.2s ease 0;
            transition: background-color 0.2s ease 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
    font-size: 16px;
    background-color: #333; }
    #g-nav .link:link {
      text-decoration: none; }
    #g-nav .link:visited {
      text-decoration: none; }
    #g-nav .link:hover {
      text-decoration: none; }
    #g-nav .link:link {
      color: #fff; }
    #g-nav .link:visited {
      color: #fff; }
    #g-nav .link:hover {
      color: #fff; }
    #g-nav .link:hover {
      background-color: #666; }
  #g-nav ul.nav-list {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 48px;
    list-style: none; }
    #g-nav ul.nav-list li.nav-menu {
      position: relative;
      float: left;
      width: 25%;
      height: 48px;
      line-height: 48px;
      text-align: center; }
  #g-nav ul.dropdown-list {
    list-style: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 48px; }
    #g-nav ul.dropdown-list li.dropdown-menu {
      position: relative;
      width: 100%;
      height: 0px;
      opacity: 0;
      overflow: hidden;
      -webkit-transition: height 0.2s ease 0, opacity 0.2s ease 0;
              transition: height 0.2s ease 0, opacity 0.2s ease 0; }
  #g-nav .dropdown-trigger {
    display: none; }
  #g-nav .dropdown-trigger:checked + div.dropping .btn-dropdown {
    background-color: #666; }
  #g-nav .dropdown-trigger:checked + div.dropping ul.dropdown-list li.dropdown-menu {
    position: relative;
    height: 48px;
    opacity: 1; }
    #g-nav .dropdown-trigger:checked + div.dropping ul.dropdown-list li.dropdown-menu .link {
      left: 2%;
      width: 96%; }

#bg-container {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -2;
  width: 100%;
  height: 100%; }
  #bg-container .bg {
    position: absolute;
    left: 0;
    top: 0; }
  #bg-container .bg-front {
    z-index: -1;
    opacity: 1; }
  #bg-container .bg-back {
    z-index: -2;
    opacity: 0; }
  #bg-container .bg-css3 {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-transition: opacity 2s ease;
            transition: opacity 2s ease; }

@media screen and (min-width: 480px) {
  #wrap {
    padding: 48px 16px 0px; }
  #g-nav {
    position: fixed; } }

@media screen and (max-width: 480px) {
  #wrap {
    padding: 0 16px; }
  #g-nav {
    position: relative;
    height: 192px; }
    #g-nav ul.nav-list li.nav-menu {
      width: 100%; } }
